[submodule "docs/jellyfin.org"]
	path = docs/jellyfin.org
	url = https://github.com/jellyfin/jellyfin.org
[submodule "docs/jellyfin"]
	path = docs/jellyfin
	url = https://github.com/jellyfin/jellyfin
[submodule "docs/podcast-namespace"]
	path = docs/podcast-namespace
	url = https://github.com/Podcastindex-org/podcast-namespace
